.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.text {
  text-align: center;
}

.countdown {
  color: #009846;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 205px;
  width: 100%;

  & label {
    white-space: nowrap;
  }
}
