.checkbox {
  width: 18px;
  height: 18px;

  & input {
    width: 18px;
    height: 18px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #009846;
    border-radius: 2px;
    cursor: pointer;

    &:checked {
      background: url('../../../assets/images/check.svg') #009846 no-repeat
        center;
    }
  }
}
